<h2>Employee Login</h2>
<%= form_for (:session) do |f| %>
  <%= f.text_field :email, placeholder:"example@gmail.com" %><br><br>
  <%= f.password_field :password,placeholder:"Enter your password" %><br><br>
  <%= f.submit 'Sign in' %><br>
<% end %>
<p style="color:red">(if you dont have an account click on the below link.)</p>
<p>Click here: <%= link_to "Signup",new_employee_path %></p>