<h1> 
<% if @current_user.image.attached? %>
        <%= image_tag @current_user.image, style:"width: 50px;"%>
<% else %>
        <%= image_tag "default_profile", style:"width: 50px;"%>
<% end %>
 Customer <%= @current_user.name.capitalize %></h1>

 <h2>Owned Products</h2>
 <ul> 
 <% @current_user.products.each do |product| %>
 <li>
  Name:  <%= product.name %><br>
  Price: <%= product.price %>$
 </li>
 <% end %>
 </ul>


<div>
<%= link_to "Back to customers", customers_path %><br><br>
<%= button_to "Delete Account", customer_path(@current_user) , method: :delete %>
</div>
