<!DOCTYPE html>
<html>
  <head>
    <title>JuniorProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if notice %>
    <p style="color:green"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p style="color:red"><%= alert %></p>
  <% end %>
    <% if current_user %>
    <div> 
      <%= link_to "Logout",signout_path %> | 
      <% if Employee.where(email:current_user.email).any? %>
       <%= link_to "Edit employee information",edit_employee_path(current_user.id) %> |
       <%= link_to "Ordered list",buys_path %>
      <%else%>
      <%= link_to "Edit customer information",edit_customer_path(current_user.id) %> | 
      <%= link_to "Products", products_path %>
      <%end%>
    </div>
    <% end %>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
